.input {
  display: inline-block;
  padding: 7px 20px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 220px;
}
.button {
  display: inline-block;
  border: none;
  border-radius: 0.25em;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  padding: 12px 0;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
  color: white;

  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px -5px grey;
  }

  svg {
    animation-duration: 1000ms;
    animation-name: appears;
  }
  @keyframes appears {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }
}

.start {
  @extend .button;
  background-color: rgb(75, 200, 0);
  transition: background-color 600ms ease-in-out;
}
.pause {
  @extend .button;
  background-color: rgb(255, 154, 4);
  transition: background-color 600ms ease-in-out;
}
.stop {
  @extend .button;
  background-color: rgb(226, 5, 5);
  animation-duration: 1000ms;
}
