.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 0.3fr;
  opacity: 1;
  animation-duration: 1000ms;
  animation-name: appears;
  font-size: 0.9rem;
  padding: 8px 75px;
  text-align: start;
  border-top: 1px solid lightgray;

  @keyframes appears {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }
}
.time_item {
  justify-self: end;
}
.delete_item {
  justify-self: center;
}
