.wrapper {
  background-color: rgb(5, 30, 52);
  padding: 25px 0;
  width: 200px;
  font-size: 1.25em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;

  img {
    width: 150px;
    height: auto;
  }
}

.nav {
  margin-top: 50px;
  padding: 0;

  &Item {
    text-align: center;
    list-style: none;
    margin-top: 15px;

    &Link {
      text-decoration: none;

      &Active {
        font-weight: 700;
      }
    }
  }
}
