.wrapper {
  background-color: rgb(5, 30, 52);
  height: 100vh;
  padding: 30px 10px;
  font-size: 1.25em;
  color: white;

  img {
    width: 150px;
    height: auto;
  }
}

.nav {
  margin-top: 50px;
  padding: 0;

  &Item {
    margin: 10px 0;
    text-align: center;
    list-style: none;

    &Link {
      text-decoration: none;

      &Active {
        font-weight: 700;
      }
    }
  }
}
